<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h2>Edit Menu Item </h2>
    <form method='POST' action="{{ url_for('editMenuItem', restaurant_id = restaurant_id, menuitem_id = i.id) }}">
        <div>
            <label for="name">Name:</label>
            </br>
            <input type="input" id="name" name="name" placeholder='{{i.name}}'>
            </br>
            </br>
        </div>
        <div>
            <label for="desc">Description:</label>
            </br>
            <input type="input" id="desc" name="description" placeholder='{{i.description}}'>
            </br>
            </br>
        </div>
        <div>
            <label for="price">Price:</label>
            </br>
            <input type="number" id="price" name="price" placeholder='{{i.price}}'>
            </br>
            </br>
        </div>
        <input type="submit" value="Edit">
        </br>
        <a href='{{url_for(' restaurantsMenu ', restaurant_id= i.restaurant_id)}}'>Cancel</a>
    </form>

</body>

</html>